maximum = fn(n, m) {
    if (n > m) {
        return n;
    } else {
        return m;
    }
}

write("Input the first number: ");
a = int(read());
write("Input the second number: ")
b = int(read());

max = maximum(a, b);
write("The max of the two is ",max);