
arr_min = fn(arr, len){

    i = 0;
    min = arr[0];
    for ( i < len){
        min = minimum(min, arr[i]);
        i = i + 1;
    }
    return min;  
}

arr_max = fn(arr, len){

    i = 0;
    max = arr[0];
    for ( i < len){
        max = MAX(max, arr[i]);
        i = i + 1;
    }
    return max; 

}

pow = fn(num, power){

    i = 0;
    result = 1;
    for (i < power){
        result = result * num;
        i = i + 1;
    }

    return result;

}

minimum = fn(n, m){
    if (n < m) {
        return n;
    } else {
        return m;
    }
}

MAX = fn(n, m) {
    if (n > m) {
        return n;
    } else {
        return m;
    }
}

array_generator = fn(len, limit){

    i = 0;
    arr = [];

    for (i < len){
        n = rand(limit) + pow(-1, i + 1) * (i + 1) * rand(100)/50; 
        arr = push(arr, n);
        i = i + 1;
    }
    return arr;
}

INF = 999999;
i = 0;
arr = [];
len = 0;
maximum = 0;
arr_sort = [];

for ( i < INF ){

    write("\n1. Generate Array\n");
    write("2. Display Array\n");
    write("3. Minimun Number\n");
    write("4. Maximum Number\n");
    write("5. Exit\n");
    write("Choice: ")
    choice = int(read());

    if (choice == 1){
        write("\nInput the length of the array: ");
        len = int(read());

        write("Input the maximum value of the elements: ");
        maximum = int(read());

        arr = array_generator(len, maximum);
        write("Here is the generated array: \n");
        write("\n", arr, "\n");
    }

    if (choice == 2){
        write("\n", arr, "\n");
    }

    if (choice == 3){
        min = arr_min(arr, len);
        write("Minimum element is: \n");
        write("\n", min, "\n");
    }

    if (choice == 4){
        max = arr_max(arr, len);
        write("Maximum element is: \n");
        write("\n", max, "\n");
    }

    if (choice == 5){
        break;
    }
}